---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import workers from "../assets/service/workers.webp";
import StartProject from "../components/StartProject.astro";
import OurValues from "../components/OurValues.astro";
---

<Layout>
  <h1 class="text-2xl text-center lg:text-3xl">SOBRE NOSOTROS</h1>
  <section class="relative grid grid-cols-1 gap-4 rounded-md overflow-hidden md:grid-cols-5 md:gap-10 xl:gap-20">
     
    <div class="absolute inset-0 -z-10 pattern-boxes pattern-mirage-100 pattern-bg-mirage-400 pattern-size-2 pattern-opacity-10" />
    
    <div class="flex flex-col gap-4 justify-center p-8 *:text-pretty md:pr-0 md:col-span-3">
      <p>
        Somos una empresa dedicada a la fabricación de piezas de alta precisión para una variedad de industrias. Utilizando maquinaria de última generación y técnicas avanzadas, garantizamos la máxima calidad en cada componente que producimos.
      </p>
      <p>
        Nuestro equipo de profesionales altamente capacitados y experimentados trabaja en estrecha colaboración con nuestros clientes para garantizar que cada pieza cumpla con sus especificaciones exactas y requisitos únicos.
      </p>
      <p>
        Nuestros servicios abarcan desde la fabricación de piezas industriales hasta la construcción de estructuras metálicas a medida.
        En Corporación FAMAG S.A.C, nos enorgullece ofrecer soluciones integrales y personalizadas para satisfacer las necesidades de nuestros clientes.
      </p>
    </div>
    <div class="md:col-span-2">
        <Image class="object-cover object-left w-full h-full" src={workers} alt="Hombres soldadores trabajando" />
    </div>
  </section>

  <section class="flex flex-col justify-stretch gap-4 md:gap-8 md:flex-row lg:gap-10 lg:grid-cols-3">
    <div class="basis-1/3 space-y-4 p-8 rounded-md bg-mirage-700">
      <h2 class="text-center text-lg">NUESTRA MISIÓN</h2>
      <p>
        Producir, desarrollar y brindar servicios metalmecánicos con altos estándares de calidad y precisión con asesoría técnica, 
        profesional y personalizada de nuestro equipo de trabajo a todos nuestros clientes de una manera oportuna y eficaz.
      </p>
    </div>

    <div class="basis-1/3 space-y-4 p-8 rounded-md bg-mirage-700">
      <h2 class="text-center text-lg">NUESTRA VISIÓN</h2>
      <p>
        Ser una empresa líder en la industria, proyectados a expandir nuestra capacidad productiva y servicios, con un alto compromiso de cumplimiento
        y estándares de calidad en cada uno de nuestros trabajos.
      </p>
    </div>

    <div class="basis-1/3 flex flex-col gap-4 p-8 rounded-md bg-mirage-700">      
      <h2 class="text-center text-lg">NUESTROS VALORES</h2>
      <OurValues />      
    </div>
  </section>

  <StartProject title="EMPIEZA TU SIGUIENTE PROYECTO CON NOSOTROS" />
</Layout>
