---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Corporation from '../components/Corporation.astro';
import Strength from '../components/Strength.astro';
---

<Layout>
	<Hero />
	<Strength />
	<Corporation />
</Layout>


<!-- <p>
	Ya sea que necesite servicios de tornería, estructuras metálicas o soldadura, 
	estamos aquí para ayudarlo. Nuestros servicios abarcan desde la fabricación de piezas 
	industriales hasta la construcción de estructuras metálicas a medida. 
</p>
<p>
	En Corporación FAMAG S.A.C, nos enorgullece ofrecer soluciones integrales y personalizadas 
	para satisfacer las necesidades de nuestros clientes. 
</p> -->