---
import ContactComponent from "./ContactComponent.astro";
import SocialNetwork from "./SocialNetwork.astro";
---

<section class="container py-12 grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
    <div class="space-y-4">
        <h2 class="text-lg font-bold">FAMAG S.A.C</h2>
        <p>En Corporación FAMAG S.A.C, nos enorgullece ofrecer soluciones integrales y personalizadas 
            para satisfacer las necesidades de nuestros clientes.
        </p>
        <div class="space-y-2 pt-1">
            <h2 class="text-lg font-bold">Redes Sociales</h2>
            <SocialNetwork />
        </div>
    </div>
    <div class="space-y-4">
        <h2 class="text-lg font-bold">Contacto</h2>
        <ContactComponent />
    </div>
    <div class="rounded-md overflow-hidden md:col-span-2 lg:col-span-1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1376.654460776445!2d-69.21558667809605!3d-12.597613922443088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x917b49001d98f195%3A0xb066f8b1712f8650!2sFAMAG%20S.A.C!5e0!3m2!1ses-419!2spe!4v1737474523966!5m2!1ses-419!2spe" height="250" style="border:0; width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Mapa de ubicación de FAMAG"></iframe>       
    </div>
</section>