---

---
<div class="relative my-10 rounded-md overflow-clip">
    <video class="relative w-full h-80 object-cover md:h-96 lg:h-[500px]" autoplay muted loop>
        <source src="/video/welding.mp4" type="video/mp4">
    </video>
    <div class="absolute z-10 inset-0 bg-gray-950/50 flex flex-col items-center justify-center gap-6 p-6 lg:gap-8 lg:px-20">
        <h1 class="text-md font-semibold text-center text-balance tracking-wider lg:leading-10 lg:text-3xl">SOMOS ESPECIALISTAS EN TORNERIA, ESTRUCTURAS METÁLICAS Y SOLDADURA EN GENERAL</h1>
        <p class="italic text-center lg:text-xl">"Torneando calidad, soldando confianza"</p>
        <a class="text-sm link-gradient py-2 px-4 rounded-full hover:ring-4 hover:ring-mirage-200 lg:text-lg lg:px-6 lg:py-3" href="/projects">Nuestros Proyectos</a>
    </div>

</div>
<p>En Corporación FAMAG S.A.C, somos expertos en tornería, estructuras metálicas y soldadura en general. 
    Nos dedicamos a ofrecer soluciones de alta calidad, personalizadas y eficientes para satisfacer las necesidades 
    de nuestros clientes en diversos sectores. Con un equipo de profesionales altamente capacitados y una tecnología 
    de vanguardia, garantizamos resultados precisos y duraderos. Nuestra misión es superar las expectativas de nuestros
     clientes, proporcionando servicios confiables y un compromiso inigualable con la excelencia.
</p>
