---
import logoFamag from "../assets/famag.webp";
import { Image } from 'astro:assets';
---

<div class="flex items-center gap-3">
    <Image src={logoFamag} width="48" height="48" alt="Famag logo" />
    <span class="text-2xl font-bold">FAMAG</span>
</div>