<nav>
    <button id="openMenu" class="md:hidden" aria-label="Abrir menú de navegación">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path d="M0 0h24v24H0z" stroke="none"/><path d="M4 6h16M4 12h16M4 18h16"/></svg>    
    </button>    
    <ul id="navBar" class="fixed overscroll-y-auto z-40 top-0 bottom-0 w-60 hidden flex-col bg-gray-800 overflow-y-auto -right-full 
        md:static md:flex md:flex-row md:w-auto md:bg-gray-900">
        <li class="flex items-center p-6 border-b border-gray-600 md:hidden">
            <span class="text-2xl font-semibold">FAMAG</span>
            <button id="closeMenu" class="block ml-auto" aria-label="Cerrar menú de navegación">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path d="M0 0h24v24H0z" stroke="none"/><path d="M18 6 6 18M6 6l12 12"/></svg>
            </button>
        </li>
        <li><a class="px-6 py-5 link-gradient md:py-3" href="/">Inicio</a></li>
        <li><a class="px-6 py-5 link-gradient md:py-3" href="/services">Servicios</a></li>
        <!-- <li><a class="px-6 py-5 link-gradient md:py-3" href="/projects">Proyectos</a></li> -->
        <li><a class="px-6 py-5 link-gradient md:py-3" href="/about">Nosotros</a></li>
        <li><a class="px-6 py-5 link-gradient md:py-3" href="/contact">Contacto</a></li>
    </ul>
    <div id="overlay" class="hidden fixed z-30 inset-0 bg-black/40 md:hidden"></div>
</nav>

<script>
    const openMenu = document.querySelector('#openMenu');
    const closeMenu = document.querySelector('#closeMenu');
    const navBar = document.querySelector('#navBar');
    const overlay = document.querySelector('#overlay');

    openMenu?.addEventListener('click', () => {
        navBar?.classList.replace('hidden','flex');
        navBar?.classList.replace('-right-full', 'right-0');
        overlay?.classList.replace('hidden', 'fixed');
    });
    
    closeMenu?.addEventListener('click', () => {
        navBar?.classList.replace('right-0', '-right-full');
        navBar?.classList.replace('flex','hidden');        
        overlay?.classList.replace('fixed', 'hidden');
    });

    overlay?.addEventListener('click', () => {
        navBar?.classList.replace('right-0', '-right-full');
        navBar?.classList.replace('flex','hidden');
        overlay?.classList.add('hidden');
    });

    const navLinks = document.querySelectorAll('#navBar li a');
    const currentUrl = window.location.href;

    navLinks?.forEach((link) => {
        if((link as HTMLAnchorElement).href === currentUrl) {
            link.classList.replace('border-transparent', 'border-gray-300');
            link.classList.add('active-link');
        }
    });
</script>