---
import Card from "./Card.astro";
---
<section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 xl:gap-10">
    <Card
        title="Atención personalizada"
        description="Nos preocupamos por brindar un servicio personalizado y de calidad a cada uno de nuestros clientes."
        imagePath={"/svg/call-centre.svg"}
        imageAlt="Muestra una persona trabajando en un call center"
    />
    <Card
        title="Equipo de profesionales"
        description="Nuestra empresa cuenta con un equipo de profesionales calificados con experiencia y amplia trayectoria."
        imagePath={"/svg/engineer.svg"}
        imageAlt="Muestra un ingeniero trabajando"
    />
    <Card
        title="Modernos equipos"
        description="Utilizamos equipos de última generación que garantizan la precisión y calidad en cada proyecto que emprendemos."
        imagePath={"/svg/machine.svg"}
        imageAlt="Muestra una máquina de torno"
    />
    <Card
        title="Tiempo de entrega"
        description="El tiempo de entrega es crucial para el éxito de tus proyectos. Por eso nos comprometemos a cumplir con los plazos establecidos."
        imagePath={"/svg/time.svg"}
        imageAlt="Muestra un reloj"
    />
</section>