---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<!-- <a href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
> -->
<main>
	<h1>Hola soy un componente</h1>
</main>
