---
import '@fontsource/poppins';

import Navbar from "../components/Navbar.astro";
import Logo from '../components/Logo.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="container bg-mirage-950 pattern text-mirage-50 py-4 md:py-8 lg:py-12">
		<header class="flex justify-between items-center">		
			<Logo />
			<Navbar />
		</header>
		<main class="flex flex-col gap-4 my-10 lg:gap-10">
			<slot />
		</main>
	</body>
</html>
